.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movie-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}

.movie-card {
  width: calc(20% - 20px); 
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: left;
  margin-bottom: 20px; 
}

.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.movie-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: black;
}

.movie-card p {
  font-size: 0.9rem;
  color: #555555;
  margin-bottom: 10px;
}

.movie-card .rating {
  font-size: 1rem;
  font-weight: bold;
  color: #ff9900;
}

.add-movie {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-movie input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-movie button {
  width: 50%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-movie button:hover {
  background-color: #218838;
}

body {
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.filter input[type="text"], input[type="number"] {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; 
}